/out/production/Assgn2/Assgn2.class
/out/production/Assgn2/demoAbstract.class
/out/production/Assgn2/demoarrayObj.class
/src/demoarrayObj.java
/src/demoAbstract.java
/out/production/Assgn2/shape.class
/src/shape.java
/src/studentDemo.java
/out/production/Assgn2/studentDemo.class
/src/triangle.java
/out/production/Assgn2/triangle.class
/out/production/Assgn2/Student.class
/src/rectangle.java
/out/production/Assgn2/rectangle.class

/Assgn2.iml
